images/
.idea
*.json
jupyter_logs
Selected images
grid search results
testing methods/grid search/generate_training_data nn.py
best_checkpoint_nn.data-00000-of-00001
best_checkpoint_nn.index
testing methods/nn/best_checkpoint_nn.index
testing methods/nn/best_checkpoint_nn.data-00000-of-00001
checkpoint
testing methods/nn/best_nn_model.keras


